<!DOCTYPE html>
<!--xmlns = XML Name Space, th = Thymeleaf variable,
"thymeleaf.org" = can be any text for dev. benefit -->
<html xmlns:th = "thymeleaf.org">
    <head>
    <title>Technical Blog</title>
    </head>
    <body>
        <h2>All Posts are listed below : </h2>
        <main>
            <!--posts is the name tag iused by the Model object in getAllPosts Controller function-->
            <post th:each = "postObj : ${posts}"><!--for each Post object in posts arraylist-->
                <h4 th:text = "${postObj.title}"></h4>
                <i>Posted on : </i>
                <span th:text = "${postObj.date}"></span>
                <div>
                    <p th:text = "${postObj.body}"></p>
                </div>
            </post>
        </main>
    </body>
</html>